$transition: all .5s ease;

html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
p {
  margin:  0;
  padding: 0;
}

input, input:hover, input:focus, input:active, textarea {
  outline: none;
  border-right: none;
  border-left: none;
  border-top: none;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  transition: $transition;
  color: #3f4b60;
}

a, button, input, select, textarea {
  background: none;
  border: 0;
  transition: $transition;
  outline: none;
}